
PORT=8080
DATABASE_URL=postgresql://username:password@localhost:5432/mydatabase
DB_URL=postgresql://username:password@localhost:5432/mydatabase
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key